@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body, div, span, applet, object, iframe,
blockquote, pre, abbr, acronym, address, big, cite,
del, dfn, em, ins, kbd, q, s, samp,
strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
    font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #FEB144;
	color: #000;
}

.navbar {
    margin: auto;
	max-width: 90%;
	padding-bottom: 3em;
    line-height: 60px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;
	font-size: 1.4em;

}

.navbar li {
    display: inline-flex;
    vertical-align: middle;
}

.navbar li a {
	text-decoration: none;
	color: gray;
	padding: 0px 10px 0 10px;
}

.navbar li a:hover {
	color: lightgray;
}

.container {
    margin: auto;
    max-width: 60%;
}

.banner {
    padding-top: 6.5em;
}

.typewriter h1 {
    margin: auto;
    width: fit-content;
    block-size: fit-content;
    max-width: 412px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid gray; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret 1.0s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gray; }
}
